/* layout
------------------------------------------------------------*/
body{
	font-family: $mainFonts;
	font-size: 1.2rem;
	font-weight: 400;
	min-width: $baseWidth;
	max-width: 768px;
	margin: 0 auto;
	line-height: 1.5;
	@include breakpoint(sp) {
		min-width: 320px;
	}
}

.l-container{
	padding: 0 10px;
}