<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2" id="the_header">
    <a href="javascript:history.back()" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        日報報告
    </p>
</header>
<main class="p-daily">
    <div class="container" id="main">
        <div class="row">
            <div class="col">
                <table class="p-daily__table js-table"></table>
            </div>
        </div>
    </div>
</main>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>