<%- include('inc/_headerv2'); %>
    <!--▼ Header ▼-->
    <header class="c-headerv2" id="the_header">
        <a href="javascript:history.back()" class="c-headerv2__back">
            <i class="fa-solid fa-angle-left"></i>
        </a>

        <p>
            チャレンジ評価

        </p>
    </header>
    <!--▲ Header ▲-->
    <!--▼ Content area ▼-->
    <main class="p-challenge">
        <div class="c-challenge">
            <div class="c-infor">
                <div class="row">
                    <div class="col-5">
                        <div class="c-infor__image">
                            <img src="../assets/img/avatar.jpg" alt="avatar">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="c-infor__text">
                            <h4>山田 太郎</h4>
                            <p>
                                入社年月日 2016.01.01<br> (勤続4年10ヵ月)
                            </p>
                            <ul>
                                <li>
                                    <p>チーム</p>
                                    <p>〇〇〇〇</p>
                                </li>
                                <li>
                                    <p>所属</p>
                                    <p>〇〇〇〇〇店</p>
                                </li>
                                <li>
                                    <p>役職</p>
                                    <p>店長</p>
                                </li>
                                <li>
                                    <p>階級</p>
                                    <p>ゴールド</p>
                                </li>
                                <li>
                                    <p>等級</p>
                                    <p>5等級</p>
                                </li>
                                <li>
                                    <p>資格</p>
                                    <p>ソムリエ</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-challenge__header c-challenge__header--color">
                <p class="c-challenge__header__red">
                    承認数 <span>2</span>
                </p>
                <p>/ 20(チャレンジ数)</p>
            </div>
            <div class="c-challenge__body">

                <p class="c-challenge__title c-challenge__title--green">
                    ホール
                </p>
                <table class="c-table c-table--green">
                    <thead>
                        <tr>
                            <th scope="col">分類</th>
                            <th scope="col">項目</th>
                            <th scope="col">習得</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">基本
                            </th>
                            <td>お客様来店には率先して明るい挨拶や返事ができている</td>
                            <td>
                                <input type="checkbox" class="c-checkboxcustom" name="checkbox" checked />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">基本
                            </th>
                            <td>来店への挨拶はその場から離れていてもお伝えすることができている（復唱）</td>
                            <td>
                                <input type="checkbox" class="c-checkboxcustom" name="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">基本
                            </th>
                            <td>お客様来店時に席への誘導、声掛けが3秒以内にできている</td>
                            <td>
                                <input type="checkbox" class="c-checkboxcustom" name="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">基本
                            </th>
                            <td>お客様の顔（特に目）を見て接客できている</td>
                            <td>
                                <input type="checkbox" class="c-checkboxcustom" name="checkbox" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="c-challenge__title c-challenge__title--blue">
                    キッチン
                </p>
                <table class="c-table c-table--blue">
                    <thead>
                        <tr>
                            <th scope="col">分類</th>
                            <th scope="col">項目</th>
                            <th scope="col">習得</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">基本
                            </th>
                            <td>お客様来店には率先して明るい挨拶や返事ができている</td>
                            <td>
                                <input type="checkbox" class="c-checkboxcustom" name="checkbox" checked />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">基本</th>
                            <td>来店への挨拶はその場から離れていてもお伝えすることができている（復唱）</td>
                            <td>
                                <input type="checkbox" class="c-checkboxcustom" name="checkbox" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="c-footerbtn">
                <a href="#" class="c-btn c-btn--orange">
                    申請する
                </a>
            </div>

        </div>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footerv2'); %>

        <script>
            $(function() {

                $('.c-table--green input').each(function() {
                    if ($(this).is(':checked')) {
                        $(this).parent().css({
                            "backgroundColor": "rgba(128, 183, 165, 0.5)"
                        });
                    };
                    $(this).change(function() {
                        if (this.checked) {
                            $(this).parent().css({
                                "backgroundColor": "rgba(128, 183, 165, 0.5)"
                            });
                        } else {
                            $(this).parent().css({
                                "backgroundColor": "transparent"
                            });

                        }
                    });
                });
                $('.c-table--blue input').each(function() {
                    if ($(this).is(':checked')) {
                        $(this).parent().css({
                            "backgroundColor": "rgba(143, 170, 220, 0.5)"
                        });
                    };
                    $(this).change(function() {
                        if (this.checked) {
                            $(this).parent().css({
                                "backgroundColor": "rgba(143, 170, 220, 0.5)"
                            });
                        } else {
                            $(this).parent().css({
                                "backgroundColor": "transparent"
                            });

                        }
                    });
                });
            });
        </script>