<%- include('inc/_headerv2'); %>
    <!--▼ Header ▼-->
    <header class="c-headerv2">
        <a href="/lucky-opinion.html" class="c-headerv2__back">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <p>
            投稿履歴
        </p>
    </header>
    <!--▲ Header ▲-->
    <!--▼ Content area ▼-->
    <main class="p-history">
        <div class="p-history__body">
            <ul class="c-post">
                <li class="c-post__item">
                    <span class="c-post__status c-post__status--consideration">検討中
                    </span>
                    <h4 class="c-post__posted">投稿日時：2021.03.19 20:00</h4>
                    <p class="c-post__content">
                        投稿内容：
                    </p>
                    <p class="c-post__answer">回答：</p>
                </li>
                <li class="c-post__item">
                    <span class="c-post__status c-post__status--adopted">採用済み

                    </span>
                    <h4 class="c-post__posted">投稿日時：2021.03.19 20:00</h4>
                    <p class="c-post__content">
                        投稿内容：
                    </p>
                    <p class="c-post__answer">回答：</p>
                </li>
                <li class="c-post__item">
                    <span class="c-post__status c-post__status--consideration">採用見送り
                    </span>
                    <h4 class="c-post__posted">投稿日時：2021.03.19 20:00</h4>
                    <p class="c-post__content">
                        投稿内容：
                    </p>
                    <p class="c-post__answer">回答：</p>
                </li>
                <li class="c-post__item">
                    <span class="c-post__status c-post__status--consideration">検討中
                    </span>
                    <h4 class="c-post__posted">投稿日時：2021.03.19 20:00</h4>
                    <p class="c-post__content">
                        投稿内容：
                    </p>
                    <p class="c-post__answer">回答：</p>
                </li>
                <li class="c-post__item">
                    <span class="c-post__status c-post__status--adopted">採用済み

                    </span>
                    <h4 class="c-post__posted">投稿日時：2021.03.19 20:00</h4>
                    <p class="c-post__content">
                        投稿内容：
                    </p>
                    <p class="c-post__answer">回答：</p>
                </li>
                <li class="c-post__item">
                    <span class="c-post__status c-post__status--consideration">採用見送り
                    </span>
                    <h4 class="c-post__posted">投稿日時：2021.03.19 20:00</h4>
                    <p class="c-post__content">
                        投稿内容：
                    </p>
                    <p class="c-post__answer">回答：</p>
                </li>

            </ul>
        </div>

    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>