<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2">
    <a href="javascript:history.back()" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        ポイント履歴
    </p>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<main class="p-historyPt">
    <div class="container">
        <div class="row align-items-baseline">
            <div class="col-3 text-center">
                <h4>
                    2021年<br>
                    2月18日 
                </h4>
            </div>
            <div class="col-9">
                <div class="p-historyPt__item">
                    <div class="d-flex align-items-baseline justify-content-around p-historyPt__point">
                        <div class="col-5">
                            <p>獲得ポイント</p>
                            <h5>20<span>P</span></h5>
                        </div>
                        <div class="col-5">
                            <p>送ったポイント</p>
                            <h5></h5>
                        </div>
                    </div>
                    <div class="d-flex p-historyPt__action">
                        <div class="col">
                            <h5 class="left">鈴木一郎(梅田店)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-3 text-center">
                <h4>
                    2021年<br>
                    2月10日 
                </h4>
            </div>
            <div class="col-9">
                <div class="p-historyPt__item">
                    <div class="d-flex align-items-baseline justify-content-around p-historyPt__point">
                        <div class="col-5">
                            <p>獲得ポイント</p>
                            <h5></h5>
                        </div>
                        <div class="col-5">
                            <p>送ったポイント</p>
                            <h5>20<span>P</span></h5>
                        </div>
                    </div>
                    <div class="d-flex p-historyPt__action">
                        <div class="col">
                            <h5>鈴木一郎(梅田店)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-3 text-center">
                <h4>
                    2021年<br>
                    1月18日 
                </h4>
            </div>
            <div class="col-9">
                <div class="p-historyPt__item">
                    <div class="d-flex align-items-baseline justify-content-around p-historyPt__point">
                        <div class="col-5">
                            <p>獲得ポイント</p>
                            <h5>20<span>P</span></h5>
                        </div>
                        <div class="col-5">
                            <p>送ったポイント</p>
                            <h5></h5>
                        </div>
                    </div>
                    <div class="d-flex p-historyPt__action">
                        <div class="col">
                            <h5 class="left">鈴木一郎(梅田店)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="col-3 text-center">
                <h4>
                    2021年<br>
                    2月3日 
                </h4>
            </div>
            <div class="col-9">
                <div class="p-historyPt__item">
                    <div class="d-flex align-items-baseline justify-content-around p-historyPt__point">
                        <div class="col-5">
                            <p>獲得ポイント</p>
                            <h5>20<span>P</span></h5>
                        </div>
                        <div class="col-5">
                            <p>送ったポイント</p>
                            <h5></h5>
                        </div>
                    </div>
                    <div class="d-flex p-historyPt__action">
                        <div class="col">
                            <h5>鈴木一郎(梅田店)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
 <%- include('inc/_footer'); %>