<%- include('inc/_header'); %>
    <!--▼ Content area ▼-->
    <main class="p-top">
        <section class="p-top1">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1><span>焼</span>肉さにぽ</h1>
                        <p>お腹だけでなく心も満腹に！</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="p-top2 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="daily-report.html" class="p-top2__daily-btn">日 報 報 告</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="point.html">
                                    <img src="../assets/img/point.png" alt="ポイント">
                                </a>
                            </div>
                            <p>ポイント</p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="skill-map.html">
                                    <img src="../assets/img/skill.png" alt="スキルマップ">
                                </a>
                            </div>
                            <p>スキルマップ</p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="#">
                                    <img src="../assets/img/store.png" alt="所属店舗データ">
                                </a>
                            </div>
                            <p>所属店舗データ</p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="#">
                                    <img src="../assets/img/book.png" alt="マニュアル">
                                </a>
                            </div>
                            <p>マニュアル</p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="kpi-data.html">
                                    <img src="../assets/img/data.png" alt="自己評価">
                                </a>
                            </div>
                            <p>自己評価</p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="/exchange-points.html">
                                    <img src="../assets/img/exchange.png" alt="ポイント交換">
                                </a>
                            </div>
                            <p>ポイント交換</p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="/lucky-opinion.html">
                                    <img src="../assets/img/staff.png" alt="ラッキーオピニオン">
                                </a>
                            </div>
                            <p>
                                ラッキー<br> オピニオン
                            </p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="#">
                                    <img src="../assets/img/list.png" alt="アンケートテスト">
                                </a>
                            </div>
                            <p>
                                アンケート<br> テスト
                            </p>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="p-top2__item">
                            <div class="p-top2__image">
                                <a href="#">
                                    <img src="../assets/img/calendar.png" alt="シフト管理">
                                </a>
                            </div>
                            <p>シフト管理</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="p-top2__btn">
                            <a href="#">
								コーポレートサイト
							</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>
