<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-top">
	<div class="p-top1">
		<h1><span>焼</span>肉さにぽ</h1>
		<p>お腹だけでなく心も満腹に！</p>
	</div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>

