<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2" id="the_header">
    <a href="javascript:history.back()" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        自己評価
    </p>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<main class="p-kpi">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="p-kpi__table table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">???</th>
                            <th scope="col">???</th>
                            <th scope="col">KPI</th>
                            <th scope="col">???</th>
                            <th scope="col">???</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4" class="green">??</td>
                            <td class="green--2">???</td>
                            <td>30.0%</td>
                            <td>32.4%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"  class="green--2">???</td>
                            <td>18.0%</td>
                            <td>43.0%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"  class="green--2">????</td>
                            <td>7,500</td>
                            <td>3,842</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row"  class="green--2">?????</td>
                            <td>4,500</td>
                            <td>1,871</td>
                            <td></td>
                        </tr>
                        <!-- --- -->
                        <tr>
                            <td rowspan="2" class="purple">??</td>
                            <td class="purple--2">???</td>
                            <td>82,000</td>
                            <td>10,551</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="purple--2">???</td>
                            <td>100.0%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- --- -->
                        <tr>
                            <td rowspan="2" class="blue">??</td>
                            <td class="blue--2">???</td>
                            <td>33.0%</td>
                            <td>35.4%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="blue--2">QSC??</td>
                            <td>100.0%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- --- -->
                        <tr>
                            <td class="pink">??</td>
                            <td class="pink--2">????</td>
                            <td>100.0%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- --- -->
                        <tr>
                            <td rowspan="2" class="yellow">??</td>
                            <td class="yellow--2">???</td>
                            <td>100.0%</td>
                            <td>31.5%</td>
                            <td>31.5%</td>
                        </tr>
                        <tr>
                            <td class="yellow--2">???</td>
                            <td>100.0%</td>
                            <td>-117.2%</td>
                            <td>-117.2%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</main>
<!--▲ Content are ▲-->
 <%- include('inc/_footer'); %>