<%- include('inc/_headerv2'); %>
    <!--▼ Header ▼-->
    <header class="c-headerv2" id="the_header">
        <a href="javascript:history.back()" class="c-headerv2__back">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <p>
            いいねポイントを送る
        </p>
    </header>
    <!--▲ Header ▲-->
    <!--▼ Content area ▼-->
    <main class="p-like">
        <div class="c-like">
            <div class="c-like__header text-center">
                <p class="c-like__header__remaining">
                    残り　<span>50</span>P
                </p>
                <p class="c-like__header__desc">(1か月のいいねポイント上限：100)
                </p>
            </div>
            <div class="c-like__body">
                <div class="input-group justify-content-center c-btnsearch">
                    <div class="form-outline flex-fill">
                        <input id="search-input" type="search" id="form1" class="form-control " placeholder="梅田店" />
                    </div>
                    <button id="search-button" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="row c-like__item align-items-end">
                    <div class="col-3">
                        <img src="http://placehold.jp/30/d8d8d8/ffffff/100x100.png?text=%E7%94%BB%E5%83%8F" alt="">
                    </div>
                    <div class="col-9">
                        <h4 class="c-like__title">
                            梅田店　鈴木一郎
                        </h4>
                        <a href="/like-detail.html" class="c-btn c-btn--reds">
                            ポイントを送る
                        </a>
                    </div>
                </div>
                <div class="row c-like__item align-items-end">
                    <div class="col-3">
                        <img src="http://placehold.jp/30/d8d8d8/ffffff/100x100.png?text=%E7%94%BB%E5%83%8F" alt="">
                    </div>
                    <div class="col-9">
                        <h4 class="c-like__title">
                            梅田店　鈴木一郎
                        </h4>
                        <a href="/like-detail.html" class="c-btn c-btn--reds">
                            ポイントを送る
                        </a>
                    </div>
                </div>
                <div class="row c-like__item align-items-end">
                    <div class="col-3">
                        <img src="http://placehold.jp/30/d8d8d8/ffffff/100x100.png?text=%E7%94%BB%E5%83%8F" alt="">
                    </div>
                    <div class="col-9">
                        <h4 class="c-like__title">
                            梅田店　鈴木一郎
                        </h4>
                        <a href="/like-detail.html" class="c-btn c-btn--reds">
                            ポイントを送る
                        </a>
                    </div>
                </div>
                <div class="row c-like__item align-items-end">
                    <div class="col-3">
                        <img src="http://placehold.jp/30/d8d8d8/ffffff/100x100.png?text=%E7%94%BB%E5%83%8F" alt="">
                    </div>
                    <div class="col-9">
                        <h4 class="c-like__title">
                            梅田店　鈴木一郎
                        </h4>
                        <a href="/like-detail.html" class="c-btn c-btn--reds">
                            ポイントを送る
                        </a>
                    </div>
                </div>
                <div class="row c-like__item align-items-end">
                    <div class="col-3">
                        <img src="http://placehold.jp/30/d8d8d8/ffffff/100x100.png?text=%E7%94%BB%E5%83%8F" alt="">
                    </div>
                    <div class="col-9">
                        <h4 class="c-like__title">
                            梅田店　鈴木一郎
                        </h4>
                        <a href="/like-detail.html" class="c-btn c-btn--reds">
                            ポイントを送る
                        </a>
                    </div>
                </div>
                <div class="row c-like__item align-items-end">
                    <div class="col-3">
                        <img src="http://placehold.jp/30/d8d8d8/ffffff/100x100.png?text=%E7%94%BB%E5%83%8F" alt="">
                    </div>
                    <div class="col-9">
                        <h4 class="c-like__title">
                            梅田店　鈴木一郎
                        </h4>
                        <a href="/like-detail.html" class="c-btn c-btn--reds">
                            ポイントを送る
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>