<%- include('inc/_headerv2'); %>
    <!--▼ Header ▼-->
    <header class="c-headerv2">
        <a href="javascript:history.back()" class="c-headerv2__back">
            <i class="fa-solid fa-angle-left"></i>
        </a>

        <p>
            ラッキーオピニオン
        </p>
    </header>
    <!--▲ Header ▲-->
    <!--▼ Content area ▼-->
    <main class="p-opinion">
        <div class="c-opinion">
            <div class="c-opinion__header">
                <div class="c-opinion__icon">
                    <i class="fa-solid fa-user"></i>
                    <span>今期投稿数</span>
                </div>
                <p class="c-opinion__number">
                    <span>5</span>件
                </p>
            </div>
            <div class="c-opinion__body">
                <form action="#">
                    <select name="" id="" class="c-input c-input--select">
                        <option value="1">投稿内容を選択してください
                        </option>
                        <option value="2">投稿内容を選択してください
                        </option>
                    </select>
                    <textarea name="" id="" class="c-input c-input--textarea" placeholder="投稿内容を入力してください"></textarea>
                    <input type="submit" value="画像を添付する" class="c-btn c-btn--silver">
                </form>
            </div>
            <div class="c-opinion__bottom">
                <a href="#" class="c-btn c-btn--pink">
                    投稿する
                </a>
                <a href="/history.html" class="c-btn c-btn--white is-alert">
                    投稿履歴
                </a>
            </div>
        </div>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>