<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2">
    <a href="javascript:history.back()" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        新着Myポイント
    </p>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<main class="p-myPt">
    <div class="p-myPt1">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3>500<span>P</span></h3>
                    <p>(ポイント有効期限：2022.02.28)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-myPt2">
        <div class="p-myPt2__title">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h2>今月のありがとう</h2>
                        <h3>今月獲得ポイント：30P</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-myPt2__list">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h4 class="p-myPt2__date">2021.02.18</h4>
                        <div class="p-myPt2__item d-flex">
                            <div class="image"></div>
                            <div class="text">
                                <h4>梅田店　鈴木一郎</h4>
                                <h5>10P<span>🙂</span></h5>
                                <p>おめでとう！！</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h4 class="p-myPt2__date">2021.02.07</h4>
                        <div class="p-myPt2__item d-flex">
                            <div class="image"></div>
                            <div class="text">
                                <h4>梅田店　鈴木一郎</h4>
                                <h5>10P<span>🙂</span></h5>
                                <p>おめでとう！！</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h4 class="p-myPt2__date">2021.02.02</h4>
                        <div class="p-myPt2__item d-flex">
                            <div class="image"></div>
                            <div class="text">
                                <h4>梅田店　鈴木一郎</h4>
                                <h5>10P<span>🙂</span></h5>
                                <p>おめでとう！！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
 <%- include('inc/_footer'); %>