<%- include('inc/_headerv2'); %>
    <!--▼ Header ▼-->
    <header class="c-headerv2" id="the_header">
        <a href="javascript:history.back()" class="c-headerv2__back">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <h1>
            シフト
        </h1>
    </header>
    <!--▲ Header ▲-->
    <!--▼ Content area ▼-->
    <main class="p-myShift">
        <section class="c-event-calendar">
            <h2 class="c-event-calendar__table-title">2022</span>年<span class="js-month">4</span>月</h3>
            <table class="c-event-calendar__table js-table"></table>
            <div class="c-event-calendar__infor">
                <div class="c-event-calendar__content">
                    <div class="c-event-calendar__head">
                        <div class="container">
                            <h3>2021年 4月6日 (火)</h3>
                        </div>
                    </div>
                    <div class="c-event-calendar__has-note">
                        <div class="container">
                            <ul>
                                <li>
                                    <p>売上</p>
                                    <p><span id="date_earn">100</span>円</p>
                                </li>
                                <li>
                                    <p>組数合計</p>
                                    <p><span id="date_pairs">279</span>組</p>
                                </li>
                                <li>
                                    <p>(ランチ)</p>
                                    <p><span id="date_pairs_lunch">205</span>組</p>
                                </li>
                                <li>
                                    <p>(ディナー)</p>
                                    <p><span id="date_pairs_dinner">74</span>組</p>
                                </li>
                                <li>
                                    <p>人数合計</p>
                                    <p><span id="date_people">279</span>人</p>
                                </li>
                                <li>
                                    <p>(ランチ)</p>
                                    <p><span id="date_people_lunch">205</span>人</p>
                                </li>
                                <li>
                                    <p>(ディナー)</p>
                                    <p><span id="date_people_dinner">74</span>人</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="c-event-calendar__no-note">
                        <div class="container">
                            <a href="add-daily-note.html"><i class="fa-solid fa-circle-plus"></i>日報を入力する</a>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
    </main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>
<script>
    // --- Add note for date ---
    var notice = [{
    date: "2022年4月10日",
    items:[{
        labels: 'ホール',
        background: '#ffcd2d',
        from: '17:00',
        to: '23:00',
        staff: '鈴木'
    }]
    }]

// ---------
$(document).ready(function () {
    js_calendar(2)
})
</script>