<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2">
    <a href="#" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        news
    </p>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<main class="p-news">
    <div class="p-news__list">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="p-news__row">
                        <a href="#">
                            <span>2021.03.16 12:00</span>
                            <h4>営業再開のお知らせ</h4>
                            <p>3/1より一部店舗の営業を再開します。</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="p-news__row">
                        <a href="#">
                            <span>2021.03.16 12:00</span>
                            <h4>店長会議の案内</h4>
                            <p>3/1より一部店舗の営業を再開します。</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="p-news__row">
                        <a href="#">
                            <span>2021.03.16 12:00</span>
                            <h4>時短営業について</h4>
                            <p>3/1より一部店舗の営業を再開します。</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>
<!--▲ Content are ▲-->
 <%- include('inc/_footer'); %>