<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2">
    <a href="javascript:history.back()" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        ポイント
    </p>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<main class="p-point">
    <div class="p-point1">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="c-infor">
                        <div class="row">
                            <div class="col-5">
                                <div class="c-infor__image">
                                    <img src="../assets/img/avatar.jpg" alt="avatar">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="c-infor__text">
                                    <h4>山田 太郎</h4>
                                    <p>
                                        入社年月日 2016.01.01<br>
                                        (勤続4年10ヵ月)
                                    </p>
                                    <ul>
                                        <li>
                                            <p>チーム</p>
                                            <p>〇〇〇〇</p>
                                        </li>
                                        <li>
                                            <p>所属</p>
                                            <p>〇〇〇〇〇店</p>
                                        </li>
                                        <li>
                                            <p>役職</p>
                                            <p>店長</p>
                                        </li>
                                        <li>
                                            <p>階級</p>
                                            <p>ゴールド</p>
                                        </li>
                                        <li>
                                            <p>等級</p>
                                            <p>5等級</p>
                                        </li>
                                        <li>
                                            <p>資格</p>
                                            <p>ソムリエ</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-point2">
        <div class="container">
            <div class="p-point2__box">
                <div class="row">
                    <div class="col">
                        <div class="p-point2__title">
                            <img src="../assets/img/point.png" alt="保有ポイント">
                            <h3>保有ポイント</h3>
                        </div>
                        <div class="p-point2__content">
                            <ul>
                                <li>
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4>Myポイント</h4>
                                        </div>
                                        <div class="col">
                                            <h4>500<span>P</span></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <p>(ポイント有効期限：2022.02.28)</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4>いいねポイント</h4>
                                        </div>
                                        <div class="col">
                                            <h4>50<span>P</span></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <p>(1か月のいいねポイント上限：100)</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="p-point2__btn1">
                                <div class="row">
                                    <div class="col">
                                        <a href="my-point.html" class="c-btn c-btn--red is-alert">新着Myポイント</a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="c-btn c-btn--red">
                                            いいねポイント<br>
                                            を送る
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-point2__btn2">
                                <div class="row">
                                    <div class="col">
                                        <a href="history-point.html" class="c-btn c-btn--white">ポイント履歴</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
 <%- include('inc/_footer'); %>