<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2" id="the_header">
    <a href="javascript:history.back()" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        ホールスキル一覧
    </p>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<main class="p-skill">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="p-skill1">
                    <table class="c-table">
                        <thead>
                            <tr>
                                <th>分類</th>
                                <th>項目</th>
                                <th>習得</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>基本</td>
                                <td>
                                    お客様来店には率先して明るい挨拶や返事ができている
                                </td>
                                <td>
                                    〇
                                </td>
                            </tr>
                            <tr>
                                <td>基本</td>
                                <td>
                                    来店への挨拶はその場から離れていてもお伝えすることができている（復唱）
                                </td>
                                <td>
                                    〇
                                </td>
                            </tr>
                            <tr>
                                <td>基本</td>
                                <td>
                                    お客様来店時に席への誘導、声掛けが3秒以内にできている
                                </td>
                                <td>
                                    〇
                                </td>
                            </tr>
                            <tr>
                                <td>サービス</td>
                                <td>
                                    お冷・おしぼりを着席後速やかに提供できている
                                </td>
                                <td>
                                    〇
                                </td>
                            </tr>
                            <tr>
                                <td>基本</td>
                                <td>
                                    お冷・おしぼりを正しい位置・方法で提供できている（お客様の正面におく・コップの縁を触らない）
                                </td>
                                <td>
                                    〇
                                </td>
                            </tr>
                            <tr>
                                <td>サービス</td>
                                <td>
                                    小さなお子様がいらっしゃった場合は取り皿、スプーン、フォークを自ら気づいて提供できている
                                </td>
                                <td>
                                    〇
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
 <%- include('inc/_footer'); %>