<%- include('inc/_headerv2'); %>
    <!--▼ Header ▼-->
    <header class="c-headerv2" id="the_header">
        <a href="javascript:history.back()" class="c-headerv2__back">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <p>
            スキルマップ
        </p>
    </header>
    <!--▲ Header ▲-->
    <!--▼ Content area ▼-->
    <main class="p-skill">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="c-store">
                        <nav>
                            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                <li class="nav-item " role="presentation ">
                                    <button class="nav-link" id="skill-01-tab" data-bs-toggle="tab" data-bs-target="#skill-01" type="button" role="tab" aria-controls="skill-01" aria-selected="true">達成率</button>
                                </li>
                                <li class="nav-item " role="presentation ">
                                    <button class="nav-link" id="skill-02-tab" data-bs-toggle="tab" data-bs-target="#skill-02" type="button" role="tab" aria-controls="skill-02" aria-selected="false">スキル一覧</button>
                                </li>
                                <li class="nav-item u-alert" role="presentation ">
                                    <button class="nav-link   active" id="skill-03-tab" data-bs-toggle="tab" data-bs-target="#skill-03" type="button" role="tab" aria-controls="skill-03" aria-selected="false">チャレンジ</button>
                                </li>
                            </ul>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <!-- --- Tab 1 --- -->
                            <div class="tab-pane fade" id="skill-01" role="tabpanel" aria-labelledby="skill-01-tab">
                                <div class="c-infor">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="c-infor__image">
                                                <img src="../assets/img/avatar.jpg" alt="avatar">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="c-infor__text">
                                                <h4>山田 太郎</h4>
                                                <p>
                                                    入社年月日 2016.01.01<br> (勤続4年10ヵ月)
                                                </p>
                                                <ul>
                                                    <li class="nav-item " role="presentation ">
                                                        <p>チーム</p>
                                                        <p>〇〇〇〇</p>
                                                    </li>
                                                    <li>
                                                        <p>所属</p>
                                                        <p>〇〇〇〇〇店</p>
                                                    </li>
                                                    <li>
                                                        <p>役職</p>
                                                        <p>店長</p>
                                                    </li>
                                                    <li>
                                                        <p>階級</p>
                                                        <p>ゴールド</p>
                                                    </li>
                                                    <li>
                                                        <p>等級</p>
                                                        <p>5等級</p>
                                                    </li>
                                                    <li>
                                                        <p>資格</p>
                                                        <p>ソムリエ</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-skill__tab1Cont">
                                    <div class="c-tab-box">
                                        <div class="row">
                                            <div class="col">
                                                <div class="c-tab-title c-tab-title--skill">
                                                    <img src="../assets/img/skill.png" alt="達成率">
                                                    <h3>達成率</h3>
                                                </div>
                                                <div class="p-skill__data d-flex justify-content-between">
                                                    <div class="c-box c-box--green">
                                                        <h4 class="c-box__title">ホール</h4>
                                                        <div class="c-box__content">
                                                            <h3>
                                                                89%
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="c-box c-box--blue">
                                                        <h4 class="c-box__title">キッチン</h4>
                                                        <div class="c-box__content">
                                                            <h3>
                                                                52%
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="c-box c-box--yellow">
                                                        <h4 class="c-box__title">マネジメント</h4>
                                                        <div class="c-box__content">
                                                            <h3>
                                                                70%
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-skill__chart" style="height: 250px;">
                                                    <canvas id="skill_chart_01" style="width:100%;max-width:700px"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- --- Tab 2 --- -->
                            <div class="tab-pane fade" id="skill-02" role="tabpanel" aria-labelledby="skill-02-tab">
                                <div class="p-skill__radarBtn d-flex text-center">
                                    <a href="skill-map-01.html">
                                        <p>ホール</p><span>スキル一覧</span>
                                    </a>
                                    <a href="skill-map-02.html">
                                        <p>キッチン</p>
                                        <span>スキル一覧</span>
                                    </a>
                                    <a href="skill-map-01.html">
                                        <p>マネジメント</p>
                                        <span>スキル一覧</span>
                                    </a>
                                </div>
                                <div class="p-skill__radarList">
                                    <div class="item" id="">
                                        <canvas id="green_radar"></canvas>
                                    </div>
                                    <div class="item">
                                        <canvas id="blue_radar"></canvas>
                                    </div>
                                    <div class="item">
                                        <canvas id="yellow_radar"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!-- --- Tab 3 --- -->
                            <div class="tab-pane fade show active" id="skill-03" role="tabpanel" aria-labelledby="skill-03-tab">
                                <div class="c-infor">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="c-infor__image">
                                                <img src="../assets/img/avatar.jpg" alt="avatar">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="c-infor__text">
                                                <h4>山田 太郎</h4>
                                                <p>
                                                    入社年月日 2016.01.01<br> (勤続4年10ヵ月)
                                                </p>
                                                <ul>
                                                    <li>
                                                        <p>チーム</p>
                                                        <p>〇〇〇〇</p>
                                                    </li>
                                                    <li>
                                                        <p>所属</p>
                                                        <p>〇〇〇〇〇店</p>
                                                    </li>
                                                    <li>
                                                        <p>役職</p>
                                                        <p>店長</p>
                                                    </li>
                                                    <li>
                                                        <p>階級</p>
                                                        <p>ゴールド</p>
                                                    </li>
                                                    <li>
                                                        <p>等級</p>
                                                        <p>5等級</p>
                                                    </li>
                                                    <li>
                                                        <p>資格</p>
                                                        <p>ソムリエ</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-skill__challenge p-skill__challenge--alert">
                                    <h3>チャレンジ</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>
        <script>
            $(document).ready(function() {
                //  Tab 1
                var xValues = ["ホール", "キッチン", "マネジメント"];
                var yValues = [89, 52, 70];
                var barColors = ["#60a48d", "#8da9db", "#ffd44b"];

                new Chart("skill_chart_01", {
                    type: "bar",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }
                });
                $('#skill_chart_01').height(200)

                // Tab 2
                // Radio Chart
                const radar_labels = [
                    '基本', ['コミュニケ', 'ーション'],
                    '知識',
                    'サービス',
                    'その他'
                ];
                const green_data = {
                    labels: radar_labels,
                    datasets: [{
                        data: [65, 59, 90, 81, 56],
                        fill: true,
                        backgroundColor: 'transparent',
                        borderColor: '#60a48d',
                    }]
                };
                const blue_data = {
                    labels: radar_labels,
                    datasets: [{
                        data: [95, 89, 70, 61, 56],
                        fill: true,
                        backgroundColor: 'transparent',
                        borderColor: '#8da9db',
                    }]
                };
                const yellow_data = {
                    labels: radar_labels,
                    datasets: [{
                        data: [85, 79, 60, 51, 66],
                        fill: true,
                        backgroundColor: 'transparent',
                        borderColor: '#ffd44b',
                    }]
                };
                new Chart("green_radar", {
                    type: "radar",
                    data: green_data,
                    options: {
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }
                });
                new Chart("blue_radar", {
                    type: "radar",
                    data: blue_data,
                    options: {
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }
                });
                new Chart("yellow_radar", {
                    type: "radar",
                    data: yellow_data,
                    options: {
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }
                });
                // ---
            })
        </script>