<%- include('inc/_headerv2'); %>
<!--▼ Header ▼-->
<header class="c-headerv2" id="the_header">
    <a href="javascript:history.back()" class="c-headerv2__back">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <p>
        チャレンジ
    </p>
</header>
<!--▲ Header ▲-->
<!--▼ Content area ▼-->
<!--▲ Content are ▲-->
<%- include('inc/_footerv2'); %>