<%- include('inc/_headerv2'); %>
    <!--▼ Header ▼-->
    <header class="c-headerv2">
        <a href="javascript:history.back()" class="c-headerv2__back">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <p>
            投稿履歴
        </p>
    </header>
    <!--▲ Header ▲-->
    <!--▼ Content area ▼-->
    <main>
        <div>
            <canvas id="red_radar"></canvas>
        </div> 
    </main>
    <!--▲ Content are ▲-->
    <%- include('inc/_footer'); %>