.c-btn {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 15px 15px;
    font-weight: bold;
    text-align: center;
    &:hover {
        color: #fff;
    }
    &.is-alert {
        &::after {
            content: "";
            position: absolute;
            top: -7px;
            right: -3px;
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
        }
    }
    &+.c-btn {
        margin-top: 15px;
    }
    &--orange {
        letter-spacing: .2em;
        border-radius: 4px;
        padding: 8px;
        border: 2px solid #cecece;
        background-color: #ff3300;
        color: #fff;
    }
    &--silver {
        border: 2px solid #cecece;
        background-color: $silver;
        color: #fff;
    }
    &--pink {
        border: 2px solid #cecece;
        background-color: $pink;
        color: #fff;
    }
    &--white {
        border: 2px solid $pink;
        background-color: #fff;
        color: $pink;
        &:hover {
            color: $pink;
        }
    }
    &--red {
        border: 2px solid transparent;
        background-color: #b64f54;
        color: white;
        &s {
            background-color: #b64f54;
            color: white;
            font-weight: 400;
            padding: 5px 15px;
        }
    }
    &--quesblue {
        color: #fff;
        padding: 20px 15px;
        font-size: 2rem;
        border-radius: 8px;
        border: 2px solid #cecece;
        background-color: $blue-blur;
        box-shadow: 3px 4px 7px #919191;
    }
    &--quessilver {
        color: #fff;
        padding: 20px 15px;
        font-size: 2rem;
        border-radius: 8px;
        border: 2px solid #cecece;
        background-color: $silver-blur;
        box-shadow: 3px 4px 7px #919191;
    }
    &prev {
        margin: 0 5px;
        border-radius: 8px;
        font-size: 1.4rem;
        background-color: #fff;
        border: 1px solid #cecece;
        font-weight: bold;
        color: $silver;
        padding: 8px 35px;
    }
    &next {
        margin: 0 5px;
        border-radius: 8px;
        font-size: 1.4rem;
        background-color: $blue-blur;
        border: 1px solid #cecece;
        font-weight: bold;
        color: #fff;
        padding: 8px 35px;
    }
    &search {
        width: 100%;
    }
}

.c-footerbtn {
    max-width: 768px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 50px;
    background: rgba($color: #fff, $alpha: .8);
    a,
    input[type=submit] {
        display: block;
    }
}

@media screen and (min-width: 450px) {
    .c-btn--orange {
        border-radius: 4px;
        padding: 15px;
        
        font-size: 1.6rem;
    }
}