.c-table{
    border-collapse: collapse;
    tr,th,td{
        border-collapse: collapse;
    }
    thead{
        tr{
            th{
                background-color: #80b7a5;
                color: white;
                text-align: center;
                width: 15%;
                padding: 5px;
                &:first-child{
                    width: 20%;
                }
                &:nth-child(2){
                    width: 65%;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                padding: 8px 5px;
                line-height: 1.3;
                &:first-child,
                &:last-child{
                    text-align: center;
                }
            }
        }
    }
}