.c-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    tr,
    th,
    td {
        border-collapse: collapse;
        border: 1px solid #dee2e6;
    }
    &--green {
        thead {
            tr {
                th {
                    background-color: #80b7a5;
                }
            }
        }
        tbody {
            tr {
                th {
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
        input[type="checkbox"]::before {
            background-color: #80b7a5;
        }
    }
    &--blue {
        thead {
            tr {
                th {
                    background-color: #8faadc;
                }
            }
        }
        tbody {
            tr {
                th {
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
        input[type="checkbox"]::before {
            background-color: #8faadc;
        }
    }
    thead {
        tr {
            th {
                color: white;
                text-align: center;
                width: 15%;
                padding: 5px;
                &:first-child {
                    width: 20%;
                }
                &:nth-child(2) {
                    width: 65%;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 8px 5px;
                line-height: 1.3;
                &:first-child,
                &:last-child {
                    text-align: center;
                }
            }
        }
    }
}