.c-date-title{
    background-color: #f4f4f2;
    text-align: center;
    color: #595959;
    letter-spacing: 0.2em;
    padding: 15px 10px;
    margin-bottom: 40px;
    h2{
        font-weight: normal;
    }
}