.c-challenge {
    padding: 4%;
    margin-bottom: 68px;
    .c-infor {
        margin: 15px 0;
    }
    &__header {
        text-align: center;
        margin: 0 18%;
        border-bottom: 2px solid #d8d8d8;
        padding-bottom: 5px;
        font-weight: bold;
        p {
            font-size: 1.6rem;
            span {
                font-size: 1.8rem;
            }
        }
        &__red {
            color: #ff3300;
        }
        &--color {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
    &__body {
        margin-top: 15px;
    }
    &__title {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        &--green {
            color: #80b7a5;
        }
        &--blue {
            color: #8faadc;
        }
    }
    .c-table {
        margin-bottom: 20px;
    }
}