.c-message {
    border-radius: 8px;
    border: 2px solid;
    overflow: hidden;
    &--green {
        border-color: #bdbd69;
        .c-message__heading {
            background: #bdbd69;
        }
    }
    &--dark {
        border-color: #7f7f7f;
        .c-message__heading {
            font-weight: bold;
            background: #7f7f7f;
        }
    }
    &__heading {
        padding: 10px 0;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
    }
    &__content {
        min-height: 70px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__big {
        font-size: 2rem;
    }
}