.nav-tabs {
    flex-wrap: nowrap;
    overflow-y: scroll;
    padding: 0 5px;
    border-bottom: 1px solid #a5a5a5;
    .nav-link {
        padding: 6px 3px;
        border: 1px solid #a5a5a5;
        color: #a5a5a5;
        font-weight: bold;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        &.active {
            color: #fff;
            background: #bfbfbf;
            border-color: #a5a5a5;
        }
    }
    .nav-item {
        margin-right: 3px;
        min-width: 75px;
        button {
            width: 100%;
        }
    }
}