.c-store {
    padding: 4%;
    &__header {
        margin-top: 25px;
    }
    &__name {
        margin-bottom: 35px;
        h3 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }
    .c-message {
        margin-top: 20px;
    }
    tbody,
    td,
    th {
        padding: 8px 4px;
        font-weight: 400;
        vertical-align: middle;
        border: 1px solid #DEE2E6!important;
    }
    .c-table50 {
        th,
        td {
            width: 50%;
        }
    }
    &__body {
        margin: 25px 0;
        .c-storesilver {
            background: #f2f2f2;
        }
        .c-storeblue {
            font-size: 1.4rem;
            background: #e8ebf5;
        }
        .c-storeyellow {
            background: #ffe699;
        }
        .c-storegreen {
            background: #e8e7c7;
        }
    }
}