.c-question {
    &__main {
        padding-left: 13%;
        padding-right: 13%;
    }
    &__btn {
        min-height: calc(100vh - 113px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .c-btn {
            &+.c-btn {
                margin-top: 40px;
            }
        }
    }
}