.c-opinion {
    padding: 4%;
    &__icon {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $pink;
        i {
            margin-right: 8px;
            color: $pink;
            font-size: 2rem;
        }
        span {
            color: $pink;
            font-weight: bold;
        }
    }
    &__number {
        text-align: center;
        padding: 20px 0;
        color: $silver;
        letter-spacing: 5px;
        span {
            color: #000;
            font-size: 1.8rem;
        }
    }
    &__body {
        margin-bottom: 40px;
        text-align: center;
        .c-btn--silver {
            margin: 0 auto;
            max-width: 80%;
        }
    }
}