.p-daily{
    &__summary{
        margin-bottom: 40px;
        table{
            width: 80%;
            max-width: 400px;
            margin: 0 auto;
            border-collapse: collapse;
            border: 1px solid #626e76;
            text-align: center;
            tr,th,td{
                border-collapse: collapse;
                border: 1px solid #626e76; 
            }
            th,td{
                padding: 5px;
            }
            th{
                width: 30%;
                color: white;
                background-color: #58656e;
            }
            td{
                width: 70%;
                line-height: 1.5;
                background-color: #cdd4ea;
            }
            tr{
                &:first-child{
                    td{
                        background-color: #4472c4;
                    }
                }
            }
        }
    }
}