@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  background-color: #fff;
  border-top: 2px solid #d5d5d5;
  position: fixed;
  z-index: 10;
  bottom: 0;
  max-width: 768px;
  width: 100%;
  padding: 5px 0;
  display: flex;
}

.c-footer__item {
  width: 50%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-footer__item:nth-child(1) {
  border-right: 1px solid #d5d5d5;
}

.c-footer__item:nth-child(2) {
  border-left: 1px solid #d5d5d5;
}

.c-footer i {
  color: #a8adb0;
  font-size: 2rem;
}

.c-footer span {
  color: #a8adb0;
  font-size: 1.2rem;
}

/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  padding: 0 10px;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.c-btn {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px 15px;
  font-weight: bold;
  text-align: center;
}

.c-btn.is-alert::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -3px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

.c-btn + .c-btn {
  margin-top: 15px;
}

.c-btn--silver {
  border: 2px solid #cecece;
  background-color: #7f7f7f;
  color: #fff;
}

.c-btn--pink {
  border: 2px solid #cecece;
  background-color: #a75d76;
  color: #fff;
}

.c-btn--white {
  border: 2px solid #a75d76;
  background-color: #fff;
  color: #a75d76;
}

.c-btn--red {
  border: 2px solid transparent;
  background-color: #b64f54;
  color: white;
}

.c-btn--reds {
  background-color: #b64f54;
  color: white;
  font-weight: 400;
  padding: 5px 15px;
}

.c-btn--quesblue {
  color: #fff;
  padding: 20px 15px;
  font-size: 2rem;
  border-radius: 8px;
  border: 2px solid #cecece;
  background-color: #4f65a2;
  box-shadow: 3px 4px 7px #919191;
}

.c-btn--quessilver {
  color: #fff;
  padding: 20px 15px;
  font-size: 2rem;
  border-radius: 8px;
  border: 2px solid #cecece;
  background-color: #a5a5a5;
  box-shadow: 3px 4px 7px #919191;
}

.c-btnprev {
  margin: 0 5px;
  border-radius: 8px;
  font-size: 1.4rem;
  background-color: #fff;
  border: 1px solid #cecece;
  font-weight: bold;
  color: #7f7f7f;
  padding: 8px 35px;
}

.c-btnnext {
  margin: 0 5px;
  border-radius: 8px;
  font-size: 1.4rem;
  background-color: #4f65a2;
  border: 1px solid #cecece;
  font-weight: bold;
  color: #fff;
  padding: 8px 35px;
}

.c-btnsearch {
  width: 100%;
}

.c-loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: white;
  top: 0;
  left: 0;
}

.c-loading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.c-loading__text h2 {
  font-size: 2.2rem;
}

.c-loading__text h3 {
  font-size: 1.6rem;
}

.c-loading__logo {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  max-width: 20%;
}

.c-loading__logo img {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  transform-style: preserve-3d;
}

/* WebKit and Opera browsers */

/* all other browsers */
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.c-search {
  position: relative;
}

.c-search input {
  width: 100%;
  padding: 8px 5px;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid #dadada;
  color: #dadada;
  font-size: 1.2rem;
}

.c-search::before {
  position: absolute;
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.2rem;
  left: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #c2c2c4;
}

.c-infor {
  border: 2px solid #e2e2e2;
  padding: 15px;
}

.c-infor__image {
  height: 40vw;
  min-height: 90px;
  max-height: 250px;
}

.c-infor__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.c-infor__text {
  padding-left: 15px;
}

.c-infor__text h4 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.c-infor__text p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.c-infor__text ul li {
  display: flex;
  align-items: baseline;
}

.c-infor__text ul li p {
  font-size: 1.3rem;
  width: 60%;
  margin-bottom: 0;
}

.c-infor__text ul li p:first-child {
  padding-right: 20px;
  position: relative;
  width: 40%;
  text-align: right;
}

.c-infor__text ul li p:first-child::after {
  content: '▶';
  font-size: 0.8rem;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(50%, -50%);
}

.c-like__header {
  padding: 50px 0;
  background: #f5e7e8;
}

.c-like__header__remaining {
  font-weight: bold;
  font-size: 1.8rem;
  color: #a3124f;
}

.c-like__header__remaining span {
  font-size: 2rem;
}

.c-like__body {
  padding: 4%;
}

.c-like__body .form-control {
  font-size: 1.6rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  min-height: 35px;
}

.c-like__body #search-button {
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 40px;
  border: 1px solid #bfbfbf;
  font-size: 1.6rem;
  color: #fff;
  background-color: #bfbfbf;
}

.c-like__body .c-btnsearch {
  margin-bottom: 40px;
}

.c-like__item {
  margin-bottom: 15px;
  padding: 0 20px;
}

.c-like__title {
  font-weight: 400;
  margin-bottom: 20px;
}

.c-like__heading {
  font-size: 2rem;
  font-weight: 400;
}

.c-like__main {
  padding: 4%;
}

.c-like__icon label {
  font-size: 1rem;
  color: #7f7f7f;
  display: block;
  position: relative;
  cursor: pointer;
}

.c-like__icon label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.c-like__icon span {
  display: block;
  font-size: 2.2rem;
}

.c-like__name {
  margin-bottom: 30px;
}

.c-like__group .c-like__label {
  font-size: 1.4rem;
  color: #b64f54;
}

.c-like__group .form-group {
  margin-bottom: 15px;
}

.c-like__group .c-like__point {
  min-height: 45px;
}

.c-like__group .c-like__content {
  min-height: 150px;
}

.c-like__group .c-btn {
  margin-top: 30px;
}

.c-question__main {
  padding-left: 13%;
  padding-right: 13%;
}

.c-question__btn {
  min-height: calc(100vh - 113px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-question__btn .c-btn + .c-btn {
  margin-top: 40px;
}

.c-question__body {
  min-height: calc(100vh - 113px);
  padding: 4%;
}

.c-question__progress {
  text-align: center;
}

.c-question__progress__text {
  margin-bottom: 5px;
}

.c-question__progress__percent {
  height: 15px;
  width: 100%;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.c-question__progress__percent span {
  display: block;
  position: absolute;
  top: -1px;
  border-radius: 20px;
  height: 15px;
  left: 0;
  background: #4f65a2;
}

.c-question__heading {
  font-size: 1.8rem;
  margin: 10px 0 10px;
}

.c-question__item {
  padding-left: 10px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.c-question__control {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.c-product {
  padding: 4%;
}

.c-product__img {
  width: 100px;
  height: auto;
}

.c-product__img img {
  -o-object-fit: cover;
  object-fit: cover;
}

.c-product__point {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  padding: 0px 15px;
  background: #a3124f;
}

.c-product__content {
  flex: 1;
  padding: 0 15px;
}

.c-product__name {
  font-size: 1.8rem;
  font-weight: 400;
}

.c-product__desc {
  margin-top: 8px;
  color: silver;
}

.c-product__more {
  padding-right: 7px;
}

.c-product__path {
  margin-top: 15px;
  display: block;
  color: #a3124f;
}

.c-product__item {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: 3px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-productdetail {
  padding: 4%;
}

.c-productdetail__inner {
  border-radius: 8px;
  border: 1px solid #d8d8d8;
}

.c-productdetail__body {
  border-radius: 8px;
  background-color: #fff;
  padding: 3px;
}

.c-productdetail__cover {
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.c-productdetail__title {
  padding: 15px 5px;
  border-bottom: 1px solid #d8d8d8;
}

.c-productdetail__title h3 {
  padding-left: 15px;
  font-size: 2rem;
  font-weight: 400;
}

.c-productdetail__description {
  min-height: 110px;
  padding: 10px 5px;
  border-bottom: 1px solid #d8d8d8;
}

.c-productdetail__description p {
  padding: 0 15px;
}

.c-productdetail__description__heading {
  padding: 0 15px;
  color: #7f7f7f;
}

.c-productdetail__exchange {
  min-height: 150px;
  padding: 10px 5px;
}

.c-productdetail__exchange p {
  padding: 0 15px;
}

.c-productdetail__exchange__heading {
  font-size: 1.2rem;
  padding: 0 15px;
  color: #7f7f7f;
}

.c-productdetail__bottom {
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 12% 20px 13px;
  background-image: url("../img/coupon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.c-productdetail__point {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  padding: 0px 15px;
  background: #a3124f;
}

.c-productdetail__text {
  padding-right: 30px;
  font-size: 2rem;
  font-weight: bold;
  color: #a3124f;
}

.c-exchange {
  min-height: 100vh;
  background: #eae4ec;
}

.c-exchange--detail {
  background: #fff;
}

.c-exchange__header {
  background: #fff;
  padding: 30px 21px;
  display: flex;
  justify-content: space-between;
}

.c-exchange__header__current {
  font-weight: bold;
  font-size: 1.6rem;
}

.c-exchange__header__point {
  font-weight: bold;
  color: #a3124f;
  font-size: 1.6rem;
}

.c-exchange__header__point span {
  font-size: 2rem;
}

.c-exchange__body {
  padding: 4%;
  padding-bottom: 60px;
}

.c-post__item {
  position: relative;
  margin-bottom: 12px;
  padding: 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}

.c-post__status {
  display: inline-block;
  padding: 2px 40px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-post__status--consideration {
  background-color: #a75d76;
}

.c-post__status--adopted {
  background-color: #7f7f7f;
}

.c-post__status--recruitment {
  background-color: #a5a5a5;
}

.c-post__posted {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.c-post__content {
  overflow: hidden;
  min-height: 54px;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.c-post__answer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.c-input {
  width: 100%;
  outline: none;
  border: 1px solid #7f7f7f;
  color: #7f7f7f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.c-input--select {
  min-height: 40px;
}

.c-input--textarea {
  min-height: 200px;
}

.c-opinion {
  padding: 4%;
}

.c-opinion__icon {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #a75d76;
}

.c-opinion__icon i {
  margin-right: 8px;
  color: #a75d76;
  font-size: 2rem;
}

.c-opinion__icon span {
  color: #a75d76;
  font-weight: bold;
}

.c-opinion__number {
  text-align: center;
  padding: 20px 0;
  color: #7f7f7f;
  letter-spacing: 5px;
}

.c-opinion__number span {
  color: #000;
  font-size: 1.8rem;
}

.c-opinion__body {
  margin-bottom: 40px;
  text-align: center;
}

.c-opinion__body .c-btn--silver {
  margin: 0 auto;
  max-width: 80%;
}

.c-header {
  background: #fff;
  padding: 15px 0;
  max-width: 768px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  border-bottom: 2px solid #d5d5d5;
}

.c-header__menu {
  overflow: auto;
  max-width: 768px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  z-index: 90;
  background: #4f65a2;
  transition: all 0.2s linear;
  opacity: 0;
}

.c-header__menu.is-active {
  opacity: 1;
  height: calc(100% - (59px + 60px));
  top: 59px;
  bottom: 70px;
}

.c-header__menu li {
  margin: 0 10px;
  padding: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.c-header__menu li a {
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px 15px;
  font-size: 1.6rem;
}

.c-headerv2 {
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 15px 30px;
  max-width: 768px;
  width: 100%;
  border-bottom: 2px solid #d5d5d5;
}

.c-headerv2__back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  display: block;
  width: 30px;
  font-size: 2rem;
}

.c-headerv2 p {
  color: #323232;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  margin-left: 15px;
  position: relative;
  z-index: 101;
  width: 44px;
  height: 25px;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 11px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  animation: active-menu-bar02 .8s forwards;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}

@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top1 {
  background-color: #262626;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.p-top1 h1 {
  font-size: 2.2rem;
}

.p-top1 h1 span {
  color: #d20000;
}

.p-top2 .col-4 {
  color: #b64f54;
  margin-bottom: 20px;
}

.p-top2 .col-4:nth-child(2) {
  color: #8cbdad;
}

.p-top2 .col-4:nth-child(2) .p-top2__image {
  border-color: #8cbdad;
}

.p-top2 .col-4:nth-child(3) {
  color: #bebe6b;
}

.p-top2 .col-4:nth-child(3) .p-top2__image {
  border-color: #bebe6b;
}

.p-top2 .col-4:nth-child(4) {
  color: #467597;
}

.p-top2 .col-4:nth-child(4) .p-top2__image {
  border-color: #467597;
}

.p-top2 .col-4:nth-child(5) {
  color: #dba165;
}

.p-top2 .col-4:nth-child(5) .p-top2__image {
  border-color: #dba165;
}

.p-top2 .col-4:nth-child(6) {
  color: #9c83a4;
}

.p-top2 .col-4:nth-child(6) .p-top2__image {
  border-color: #9c83a4;
}

.p-top2 .col-4:nth-child(7) {
  color: #a75d76;
}

.p-top2 .col-4:nth-child(7) .p-top2__image {
  border-color: #a75d76;
}

.p-top2 .col-4:nth-child(8) {
  color: #5e72a8;
}

.p-top2 .col-4:nth-child(8) .p-top2__image {
  border-color: #5e72a8;
}

.p-top2 .col-4:nth-child(9) {
  color: #5a666f;
}

.p-top2 .col-4:nth-child(9) .p-top2__image {
  border-color: #5a666f;
}

.p-top2__item {
  width: 80%;
  max-width: 150px;
  margin: 0 auto;
}

.p-top2__item p {
  margin-top: 15px;
}

.p-top2__image {
  border: 2px solid #b64f54;
  border-radius: 50%;
  position: relative;
}

.p-top2__image::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.p-top2__image img {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-top2__btn {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.p-top2__btn a {
  display: block;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 30px;
  border: 2px solid #e1e5e7;
  background-color: #e1e5e7;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-history__body {
  min-height: 100vh;
  padding: 4%;
  background: #f7f7f7;
}

.p-news .row:last-child .p-news__row {
  border-bottom: none;
}

.p-news__row {
  width: 95%;
  margin: 0 auto;
  border-bottom: 2px solid #d8d8d8;
}

.p-news__row a, .p-news__row span {
  display: block;
}

.p-news__row h4, .p-news__row span {
  color: #58656e;
}

.p-news__row a {
  padding: 15px 10px;
}

.p-news__row span {
  font-size: 1rem;
}

.p-news__row h4 {
  font-size: 1.8rem;
  font-weight: normal;
}

.p-message1 .container {
  padding: 20px 15px;
  background-color: #d5d5d5;
}

.p-message2 dt {
  background-color: #f5f5f5;
  color: #99999e;
  padding: 5px 10px;
  font-size: 1.4rem;
}

.p-message2 dd:not(:last-child) {
  border-bottom: 1px solid #eaebeb;
}

.p-message2 dd a {
  display: block;
  padding: 10px;
  padding-left: 20px;
}

.p-message2 dd h4, .p-message2 dd h5 {
  font-size: 1.4rem;
  font-weight: normal;
}

.p-message2 dd h5 {
  text-align: right;
  margin-bottom: 5px;
}

.p-message2 dd p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-message2 dd.unread h5 {
  font-weight: bold;
  color: #f78f06;
}

.p-message2 dd.unread h5::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f78f06;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
}

.p-point1 {
  margin-top: 20px;
}

.p-point2 {
  margin-top: 40px;
}

.p-point2__box {
  width: 90%;
  margin: 0 auto;
}

.p-point2__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b64f54;
  padding-bottom: 10px;
  border-bottom: 3px solid #b64f54;
}

.p-point2__title img {
  max-width: 30px;
  margin-right: 10px;
}

.p-point2__title h3 {
  font-size: 2rem;
}

.p-point2__content ul {
  margin-top: 20px;
}

.p-point2__content li:not(:last-child) {
  margin-bottom: 15px;
}

.p-point2__content li .col h4 {
  font-size: 2rem;
  color: #b64f54;
}

.p-point2__content li .col:first-child h4 {
  font-weight: normal;
  text-align: right;
}

.p-point2__content li .col:last-child h4 {
  font-weight: bold;
  font-size: 4rem;
}

.p-point2__content li .col:last-child h4 span {
  font-size: 2rem;
}

.p-point2__btn1, .p-point2__btn2 {
  font-size: 1.5rem;
  line-height: 1.3;
}

.p-point2__btn1 {
  margin-top: 40px;
}

.p-point2__btn1 .c-btn {
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-point2__btn2 {
  margin-top: 15px;
}

.p-point2__btn2 .c-btn {
  border-radius: 5px;
  font-size: 1.8rem;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/

/*# sourceMappingURL=style.css.map */
