///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
//------------------------------------------------------------
// margin
//------------------------------------------------------------
//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-alert{
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: -7px;
        right: -3px;
        width: 15px;
        height: 15px;
        background-color: red;
        border: 2px solid white;
        border-radius: 50%;
    }
}