<div class="c-loading">
    <div class="c-loading__text">
        <h2>Performance</h2>
        <h3>for Food</h3>
    </div>
    <div class="c-loading__logo">
        <img src="../assets/img/logo.png" alt="oyama_logo">
    </div>
</div>
<!--▼ Footer ▼-->
<footer class="c-footer">
    <a href="/news.html" class="c-footer__item">
        <i class="fa-solid fa-volume-high"></i>
        <span>news</span>
    </a>
    <a href="/message.html" class="c-footer__item">
        <i class="fa-solid fa-envelope"></i>
        <span>message</span>
    </a>
</footer>
<!--▲ Footer ▲-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>