<!--▼ Footer ▼-->
<footer class="c-footer">
    <a href="#" class="c-footer__item">
        <i class="fa-solid fa-volume-high"></i>
        <span>news</span>
    </a>
    <a href="#" class="c-footer__item">
        <i class="fa-solid fa-envelope"></i>
        <span>message</span>
    </a>
</footer>
<!--▲ Footer ▲-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>