	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="l-container">
			©2019 ALLGROW LABO Inc.
		</div>
	</footer>
	<!--▲ Footer ▲-->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>