<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/fontawsome.min.css">

</head>

<body>
    <!--▼ Header ▼-->
    <header class="c-header">
        <div class="c-header__icon">
            <button class="menu-trigger">
				<span></span>
				<span></span>
				<span></span>
			</button>
        </div>
        <ul class="c-header__menu">
            <li>
                <a href="#">ポイント
				</a>
            </li>
            <li>
                <a href="#">スキルマップ
				</a>
            </li>
            <li>
                <a href="#">所属店舗データ

				</a>
            </li>
            <li>
                <a href="#">マニュアル

				</a>
            </li>
            <li>
                <a href="#">自己評価

				</a>
            </li>
            <li>
                <a href="#">ポイント交換

				</a>
            </li>
            <li>
                <a href="#">ラッキー
					オピニオン

				</a>
            </li>
            <li>
                <a href="#">アンケート
					テスト

				</a>
            </li>
            <li>
                <a href="#">シフト管理

				</a>
            </li>
        </ul>
    </header>
    <!--▲ Header ▲-->
    <div class="c-loading">
        <div class="c-loading__text">
            <h2>Performance</h2>
            <h3>for Food</h3>
        </div>
        <div class="c-loading__logo">
            <img src="../assets/img/logo.png" alt="oyama_logo">
        </div>
    </div>